header {
  position: fixed;
  top: 0;
  width: 100%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

header nav li {
  float: left;
}

header nav li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

header nav .active {
  background-color: #04AA6D;
}

header nav li a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

header nav li.dropdown {
  display: inline-block;
}

header nav .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

header nav .dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

header nav .dropdown-content a:hover {background-color: #f1f1f1;}

header nav .dropdown:hover .dropdown-content {
  display: block;
}